Tracking does not apply to this area.
<script src="/analytics.js"></script><br>
<script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
<button onclick="history.back();">Back</button>

<p>
    You have currently <span id="cau">-</span> users online!<br>
    With <span id="cas">-</span> sessions!
</p>

<div id="usersOS"></div>
<div id="usersBrowser"></div>

<div id="myDynamicTable" style="width: 100%;"></div>