Tracking does not apply to this area.
<script src="/analytics.js"></script><br>
<button onclick="history.back();">Back</button>

<p>
    You have currently <span id="cau">-</span> users online!<br>
    With <span id="cas">-</span> sessions!
</p>

<div id="myDynamicTable" style="width: 100%;"></div>