Tracking does not apply to this area.
<script>
    var id = "<%- id %>";
</script><br>
<script src="/dashboard_s.js"></script>

<button onclick="history.back();">Back</button><button onclick="terminateSession();">Terminate tracking session</button><button onclick="viewMoreData();">View more data</button> - <span>Viewing <%- id %> - Session created at: <span id="sca"></span> - Last ping at: <span id="lpa"></span></span>

<div id="myDynamicTable" style="width: 100%;"></div>