Tracking does not apply to this area.
<script>
    var id = "<%- id %>";
</script><br>
<script src="/dashboard_s.js"></script>

<button onclick="history.back();">Back</button> - <span>Viewing <%- id %></span>

<div id="myDynamicTable" style="width: 100%;"></div>