Tracking does not apply to this area.
<script src="/dashboard.js"></script><br>
<button onclick="OpenSettings();">Edit settings</button><button onclick="removeAll();">Remove all tracking sessions</button>

<div id="myDynamicTable" style="width: 100%;"></div>