Tracking does not apply to this area.
<br>
<script src="/config.js"></script>

<button onclick="history.back();">Back</button> - <span>Viewing settings</span>
<br><br>

<h3>Trackers</h3>
<button onclick="enableAll();">Enable all</button>
<button onclick="disableAll();">Disable all</button>
<div id="trackers"></div>

<br><br><button onclick="saveSettings();">Save settings</button>