Tracking does not apply to this area.
<script>
    var id = "<%- id %>";
</script><br>
<script src="/dashboard_s_d.js"></script>

<button onclick="history.back();">Back</button><button onclick="terminateSession();">Terminate tracking session</button> - <span>Viewing <%- id %> - Session created at: <span id="sca"></span> - Last ping at: <span id="lpa"></span></span>

<br><span>IP: <span id="ip"></span></span>

<div id="myDynamicTablea" style="width: 100%;"></div>
<div id="myDynamicTableb" style="width: 100%;"></div>
<div id="myDynamicTablec" style="width: 100%;"></div>